.header-section{
    display: flex;
    justify-content: end;
    padding-top: 23px;
    padding-right: 90px;
    margin-bottom: 10px;
}

.about-content{
    border: 1px solid white;
    min-width: 27px;
    text-align: center;
    border-radius: 50%;
    transition: all .15s ease;
    
    
}

.about-link{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.about-content:hover{
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.16);
    cursor: pointer;
}