.main-section{
    height: 87%;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding-left: 90px;
    padding-right: 90px;
    gap: 20px;
}

.content-container{
    overflow: scroll;
}

.input-container{
    display: flex;
    width: 100%;
    align-items: center; 
    justify-content: center;
    height: 30px;
    margin-bottom: 10px;
}

.input-field{
    flex-basis: 500px;
    height: 40px;
    border: 1px solid black;
    border-right: none;
    background-color: rgba(0, 0, 0, 0.163);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 10px;
    color: white;
}

.input-field:focus{
    outline: none;
}
.input-field::placeholder{
    color: rgba(255, 255, 255, 0.56);
}
.send-button{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-left: none;
    background-color: rgba(0, 0, 0, 0.163);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    transition: all .15s ease;
}
.send-button:hover{
    background-color: rgba(255, 255, 255, 0.16);
}

.bi-send{
    margin-top: 5px;
}



.user-content-container{
    text-align: right;
}
.user-message{
    display: inline-block;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.16) ;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;

}

.response-content-container{
    text-align: left;
}
.response-message{
    display: inline-block;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.16) ;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
}
.response-message::first-letter{
    font-size: 30px;
}

.ticker-tape{
    /* margin-bottom: 100px; */
}